html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #010002;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; 
  font-family: VelaSans; 
  color: #fff;
}

a {
  text-decoration: none;
  font-family: VelaSans;
  color: #fff;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link:after,
.nav-link:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

.nav-link:after {
  right: 0;
  width: 0;
  height: 2px; 
  background-color: #ffe3ff;
  transition: width 0.3s; 
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
  height: 2px; 
  background-color: #d0ffff; 
  transition: width 0.5s; 
  box-shadow: 0px 0px 3px 3px #d0ffff37;
}

/* Main */
.main {
  position: relative;
  top: 10px;
}

/* Intro */
.intro {
  display: block;
  position: relative;
  width: 100%;
  height: 710px;
  background-image: url(../img/light.png), url(../img/intro.png);
  background-position: left 0px top 90px, right 0px top 0px;
  background-repeat: no-repeat;
}

.intro-inner {
  display: flex;
  justify-content: start;
}

.intro-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/circle-min.png);
  background-position: left 0px top 100px;
  background-size: 100%;
  width: 100%;
  max-width: 800px;
  height: 800px;
  z-index: 999;
}

.intro-logo {
  width: 180px;
}

.intro-title {
  font-size: 58px;
  text-align: center;
  margin: 10px auto;
  padding: 35px;
  background-image: url(../img/star.png);
  background-position: right 102px top -34px;
  background-repeat: no-repeat;
  background-size: 25%;
}