html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #010002;
}

body.no-scroll{
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; 
  font-family: VelaSans; 
  color: #fff;
}

a {
  text-decoration: none;
  font-family: VelaSans;
  color: #fff;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #01000277; 
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 1000;
}

.nav-link:first-child {
  margin-left: 0;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:after,
.nav-link:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

.nav-link:after {
  right: 0;
  width: 0;
  height: 2px; 
  background-color: #ffe3ff;
  transition: width 0.3s; 
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
  height: 2px; 
  background-color: #d0ffff; 
  transition: width 0.5s; 
  box-shadow: 0px 0px 3px 3px #d0ffff37;
}

.active:after {
  right: 0;
  width: 100%;
  height: 2px; 
  background-color: #ffe3ff;
  transition: width 0.3s; 
}

.dark {
  opacity: 0;
  display: none;
}

#checkbox,
.burger {
  display: none;
}

/* Main */
.main {
  position: relative;
  top: 10px;
}

/* Intro */
.intro {
  display: block;
  position: relative;
  width: 100%;
  height: 710px;
  background-image: url(../img/light.png), url(../img/intro.png);
  background-position: left 0px top 90px, right 0px top 0px;
  background-repeat: no-repeat;
}

.intro-inner {
  display: flex;
  justify-content: start;
}

.intro-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/circle-min.png);
  background-position: left 0px top 100px;
  background-size: 100%;
  width: 100%;
  max-width: 800px;
  height: 800px;
  z-index: 999;
  background-color: transparent;
}

.intro-logo {
  width: 180px;
}

.intro-title {
  font-size: 58px;
  text-align: center;
  font-weight: 700;
  margin: 10px auto;
  padding: 35px;
  background-image: url(../img/star.png);
  background-position: right 102px top -34px;
  background-repeat: no-repeat;
  background-size: 25%;
}

/* Section */
.section {
  padding: 25px 0;
}

/* Title */
.title {
  font-size: 48px;
  font-weight: 700;
  padding: 35px 10px 20px;
  margin-bottom: 20px;
  z-index: 999;
  position: relative;
  background-color: transparent;
}

/* Belle-show */
.belle-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 0px top -20px, right -40px top 670px;
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
}

.belle-show-title {
  background-image: url(../img/star.png);
  background-position: right 508px top 76px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.show-video {
  width: 100%;
  height: 683px;
  padding: 0 10px;
}

/* Btns */
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.btn {
  width: 30%;
  position: relative;
  font-size: 19px;
  font-weight: 600;
  padding: 20px 30px;
  text-align: center;
  display: block;
  transition: 0.3s;
  background-size: 100% auto;
  background-image: linear-gradient(to right, #356FF3  30%, #8D389B  100%);
  transition: all 0.15s ease-in-out;
}

/*.btn:hover {
  box-shadow: 0px 0px 2px 0px #8e389bcb,
            0px 0px 4px 0px rgba(0,255,255,0.7),
            0px 1px 8px 0px #356ef3fc,
            0px 1px 20px 0px #d0ffff;
  background-image: linear-gradient(to right, #356ef32d  30%, #8e389b23  100%);
  text-shadow:  1px 1px 1px rgba(0,255,255,0.7);
}*/

.btn:hover {
  box-shadow: 0px 0px 2px 0px #8e389bcb,
  0px 0px 4px 0px #ffe3ff,
  0px 1px 8px 0px #8e389bb4,
  0px 1px 20px 0px #ffe3ff;
  background-image: linear-gradient(to right, #356ef32d  30%, #8e389b23  100%);
}

/* Gallery */
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 40px 10px 5px;
  background-image: url(../img/circle-min.png);
  background-position: left 0px top -40px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.gallery-img {
  width: 100%;
  max-width: 380px;
  height: 400px;
  object-fit: cover;
  padding: 10px 0px;
}

/* Text */
.text {
  width: 100%;
  max-width: 1280px;
  margin-top: -20px;
  padding: 60px 10px 5px;
  background-image: url(../img/circle-min.png), url(../img/circle-min.png), url(../img/circle-min.png) ;
  background-position: left -35px top -55px, right 0px bottom 55px, left 219px bottom -23px;
  background-size: 30%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea {
  width: 100%;
  margin: 20px auto;
  font-family: VelaSans;
  font-weight: 400;
  color: #fff;
  font-size: 26px;
  text-align: left;
  background-color: transparent;
  border: none;
  background-image: url(../img/back-text-mess.png);
  background-repeat: no-repeat;
  background-size: 100%;
  resize: none;
}

.mess-text {
  background-image: url(../img/back-text-mess-min.png);
}

.dance-text {
  background-image: url(../img/back-text-dance-min.png);
}

.jugg-text {
  background-image: url(../img/back-text-jugg-min.png);
}

.silver-text {
  background-image: url(../img/back-text-silver-min.png);
}

.tre-text {
  background-image: url(../img/back-text-tre-min.png);
}

.silver-text-more {
  font-size: 40px;
  background-image: url(../img/back-text.png);
  padding: 0px 10px;
}

.copy {
  width: 350px;
  margin-top: 20px;
}

/* Price */
.price {
  background-image: url(../img/circle-min.png);
  background-position: left 0px top -50px;
  background-size: 30%;
  background-repeat: no-repeat;
  padding: 20px 0 15px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 10px;
  background-image: url(../img/circle-min.png);
  background-position: right 300px top -18px;
  background-size: 19%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-color: transparent;
}

.price-item {
  font-family: VelaSans;
  font-weight: 200;
  font-size: 32px;
  text-shadow:  1px 0 1px #fff, 
  0 1px 1px #fff, 
  -1px 0 1px #fff, 
  0 -1px 1px #fff;;
  color: #fff;
  padding: 10px 0;
}

/* Messenger */
.messenger-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 114px top -75px, right -60px top 670px;
  background-size: 45%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
}

.mess-show-title {
  background-image: url(../img/star.png);
  background-position: right 245px top 76px;
  background-repeat: no-repeat;
  background-size: 8%;
}

/* Dance */
.dance-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 10px top -50px, right -60px top 550px;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
}

.dance-show-title {
  background-image: url(../img/star.png);
  background-position: left 555px top 76px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.show-price-sec {
  background-image: url(../img/circle-min.png);
  background-position: left 400px top -30px;
  background-size: 20%;
  background-repeat: no-repeat;
}

/* Juggling */
.juggling-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 10px top -37px, right -30px top 700px;
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100%;
}

.juggling-show-title {
  background-image: url(../img/star.png);
  background-position: left 398px top 67px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.jugg-gallery {
  background-image: url(../img/circle-min.png);
  background-position: left 500px top -15px;
  background-size: 40%;
  background-repeat: no-repeat;
}

/* Silver */
.silver-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left -250px top 2850px, right 30px top 2900px;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 100%;
}

.silver-show {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 5px top 0px, right -30px top 400px;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 100%;
}

.silver-show-title {
  background-image: url(../img/star.png);
  background-position: left 397px top 1px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.silver-gallery {
  background-image: url(../img/circle-min.png);
  background-position: left 10px top -15px;
  background-size: 40%;
  background-repeat: no-repeat;
}

.silver-show-title-more {
  background-image: url(../img/star.png), url(../img/circle-min.png);
  background-position: left 783px top 1px, left -10px top 0px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.extra-info {
  background-image: url(../img/circle-min.png);
  background-position: left 150px top -35px;
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100%;
}

/* Trelawney */
.trelawney-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left -90px top -10px, right -30px top 600px;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 100%;
}

.trelawney-show-title {
  background-image: url(../img/star.png);
  background-position: left 426px top 1px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.show-img {
  width: 100%;
  height: auto;
  padding: 0 10px;
  object-fit: cover;
}

.tre-price {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 5px top -30px, right -70px top -30px;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 100%;
}

/* Memes */
.memes-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left -30px top -30px, right -40px top 700px;
  background-size: 40%;
  background-repeat: no-repeat;
  width: 100%;
}

.memes-show-title {
  background-image: url(../img/star.png);
  background-position: left 205px top 1px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.btns-memes {
  justify-content: flex-start;
}

.btns-memes .btn:last-child {
  margin-left: 60px;
}

/* Dwarfs */
.dwarf-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left -10px top -10px, right -50px top 300px;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 100%;
}

.dwarf-show-title {
  background-image: url(../img/star.png);
  background-position: left 505px top 75px;
  background-repeat: no-repeat;
  background-size: 8%;
}

/* Footer */
.footer {
  width: 100%;
  max-width: 1280px;
  position: relative;
  padding: 10px;
  margin: 10px auto;
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 10px top 0px, right 50px top 0px;
  background-size: 30%;
  background-repeat: no-repeat;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/back-text-mess-min.png);
  height: 300px;
  background-size: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-title {
  background-image: url(../img/star.png);
  background-position: left -19px top -15px;
  background-repeat: no-repeat;
  background-size: 20%;
  width: auto;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
}

.contacts-icon {
  width: 70px;
  height: 70px;
  margin: 10px 5px;
}

.icon-img {
  width: 100%;
  padding: 10px;
}

/*.contacts-icon:hover {
  box-shadow: 0px 0px 2px 0px #8e389bcb,
            0px 0px 4px 0px rgba(0,255,255,0.7),
            0px 1px 8px 0px #356ef3fc,
            0px 1px 20px 0px #d0ffff;
  background-image: linear-gradient(to right, #356ef375  20%, #8e389b8c  100%);
  border-radius: 10px;
} */

.contacts-icon:hover {
  box-shadow: 0px 0px 2px 0px #8e389bcb,
            0px 0px 4px 0px #ffe3ff,
            0px 1px 8px 0px #8e389bb4,
            0px 1px 20px 0px #ffe3ff;
  background-image: linear-gradient(to right, #356ef375  20%, #8e389b8c  100%);
  border-radius: 10px;
}

span {
  font-family: VelaSans;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  margin: 10px auto;
  text-align: center;
}

.footer-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-footer {
  width: 300px;
}

.footer-calender-text {
  font-size: 34px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  width: 350px;
  text-transform: uppercase;
  padding: 10px;
  background-image: url(../img/star.png);
  background-position: right -7px top 40px;
  background-repeat: no-repeat;
  background-size: 15%;
}

/* Media Queries */
@media (max-width: 1280px) {
  /* Container */
  .container {
    max-width: 770px;
    padding: 0 7px;
  }

  /* Header */
  .header-inner {
    height: 70px;
  }
  .nav-link {
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 10px;
  }

  .nav-link:first-child {
    margin-left: 5px;
  }

  .nav-link:last-child {
    margin-right: 5px;
  }

  /* Intro */
  .intro {
    background-size: 40%;
    height: 550px;
    background-image: url(../img/light.png), url(../img/intro.png);
    background-position: left 0px top 80px, right 0px top 0px;
  }

  .intro-info {
    max-width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../img/circle-min.png);
    background-position: left 0px top 135px;
  }

  .intro-logo {
    width: 120px;
  } 

  .intro-title {
    font-size: 34px;
    margin: 10px auto;
    padding: 10px;
    background-position: right 52px top -28px;
  }

  /* Section */
  .section {
    padding: 15px 0;
  }

  /* Title */
  .title {
    font-size: 34px;
    padding: 15px 10px 10px;
    margin-bottom: 10px;
  }

  .belle-show-title {
    background-position: right 227px top 49px;
  }

  .mess-show-title {
    background-position: right 40px top 51px;
  }

  .dance-show-title {
    background-position: right 292px top 49px;
  }

  .juggling-show-title {
    background-position: right 405px top 43px;
  }

  .silver-show-title {
    background-position: left 290px top -4px;
  }

  .silver-text-more {
    font-size: 24px;
  }

  .trelawney-show-title {
    background-position: left 312px top -4px;
  }

  .memes-show-title {
    background-position: left 155px top -4px;
  }

  .dwarf-show-title {
    background-position: left 367px top 49px;
  }

  .footer-title {
    background-position: left -18px top -5px;
  }

  /* Video */
  .show-video {
    height: 414px;
  }

  /* BTN */
  .btns {
    margin-top: 10px;
  }

  .btn {
    width: 31%;
    font-size: 14px;
    padding: 14px 10px;
  }

  /* Blocks */
  .messenger-block {
    background-position: left 114px top -25px, 
                         right -60px top 670px;
  }

  .dance-block {
    background-position: left 10px top -17px, 
                         right -60px top 550px;
  }

  /* Gallery */
  .gallery {
    padding-top: 20px;
    margin-top: 10px;
  }

  .gallery-img {
    max-width: 230px;
    height: 265px;
  }

  /* Text */
  .text {
    max-width: 770px;
    margin-top: -15px;
    padding: 30px 10px 5px;
  }

  textarea {
    font-size: 15px;
  }

  /* Price */
  .price-item {
    font-size: 20px;
    padding: 7px 0;
  }

  /* Footer */
  .contacts {
    width: 300px;
  }
  
  .contacts-icon {
    width: 55px;
    height: 55px;
  }

  span {
    font-size: 19px;
  }

  .footer-calender-text {
    width: 300px;
    font-size: 24px;
    background-position: right 18px top 30px;
  }

  .btn-footer {
    width: 230px;
  }
}

@media (max-width: 769px) {
  /* Container */
  .container {
    padding: 0 5px;
    max-width: 550px;
  }

  /* Section */
  .section {
    padding: 10px 0;
  }

  /* Header */
  .header {
    background: transparent;
  }

  .header-inner {
    height: 50px;
    justify-content: flex-end;
  }

  .nav {
    flex-direction: column;
    position: fixed;
    align-items: center;
    background-color: #010002d9;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transform: translateX(100%);
    justify-content: center;
    transition: transform 0.5s ease-in;
    z-index: 1000;
  }

  .nav-link {
    font-size: 15px;
    margin: 7px 10px;
  }

  .nav-link:first-child {
    margin-left: 10px;
  }

  .nav-link:last-child {
    margin-right: 10px;
}

  .show {
    transform: translateX(0);
  }

  /* Burger */
  .burger {
    position: relative;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }

  .line {
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: #ffe3ff;
    border-radius: 0;
    transition: .25s, opacity .35s;
  }

  .line-top {
    transform: translateY(-7px);
  }

  .line-bottom {
    transform: translateY(7px);
  }

  #checkbox:checked~.line-top {
    transform: rotate(45deg);
    background-color: #d0ffff;
  }

  #checkbox:checked~.line-middle {
    transform: translateX(16px);
    background-color: #d0ffff;
    opacity: 0;
  }  

  #checkbox:checked~.line-bottom {
    transform: rotate(-45deg);
    background-color: #d0ffff;
  }

  /* Main */
  .main {
    top: 0;
  }

  /* Intro */
  .intro {
    background-position: left 0px top 30px, right 0px top 200px;
  }

  .intro-info {
    height: 390px;
    background-position: left 50% top 20px;
    background-size: 80%;
    left: calc((100vw - 400px)/2);
  }

  .intro-logo {
    width: 110px;
  }

  .intro-title {
    font-size: 32px;
    background-position: right 59px top -17px;
    background-size: 20%;
  }

  /* Title */
  .title {
    font-size: 26px;
    padding-left: 5px;
    padding-right: 5px;
    width: 540px;
    background-size: 15%;
  }

  .belle-show-title {
    background-position: right 120px top 25px;
  }

  .mess-show-title {
    background-position: right -23px top 25px;
  }

  .dance-show-title {
    background-position: right 170px top 24px;
  }

  .juggling-show-title {
    background-position: right 257px top 19px;
  }

  .silver-show-title {
    background-position: left 202px top -17px;
  }

  .trelawney-show-title {
    background-position: left 220px top -17px;
  }

  .memes-show-title {
    background-position: left 99px top -16px;
  }

  .dwarf-show-title {
    background-position: left 261px top 25px;
  }

  /* Block */
  .belle-block {
    background-position: left 0px top 8px, right -40px top 317px;
  }

  .mess-block {
    background-position: left 114px top 1px, right -60px top 670px;
  }

  .memes-block {
    background-position: left -30px top 7px, right -40px top 700px;
  }

  /* Video */
  .show-video {
    padding: 0 5px;
    height: 298px;
  }

  /* BTN */
  .btns {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn {
    width: 32%;
    font-size: 10px;
    padding: 12px 5px;
  }

  .btns-memes .btn:last-child {
    margin-left: 18px;
  }

  /* Gallery */
  .gallery {
    padding-left: 5px;
    padding-right: 5px;
    background-position: left 0px top 15px;
  }

  .gallery-img {
    max-width: 225px;
    height: 180px;
    padding: 5px 0;
  }

  .show-img {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* text */
  .text {
    padding-left: 5px;
    padding-right: 5px;
    background-position: left 21px top -55px, right 0px bottom 55px, left 219px bottom 17px;
  }

  textarea {
    font-size: 12px;
    margin: 15px auto;
  }

  .copy {
    width: 175px;
  }

  .silver-text-more {
    padding: 0 5px;
  }  

  .extra-info {
    margin-bottom: 20px;
  }

  .silver-text-more {
    padding: 0 5px;
    font-size: 17px;
  }

  /* Price */
  .price {
    background-position: left 0px top 5px;
  }

  .show-price-sec {
    background-position: left 400px top -10px;
    background-size: 16%;
  }

  .extra-info {
    background-position: left 150px top -5px;
  }

  ul {
    padding-left: 5px;
    padding-right: 5px;
    background-position: right 300px top -8px;
    background-size: 16%;
  }

  .price-item {
    font-size: 16px;
    padding: 6px 0;
    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, 0px 0 1px #fff, 0 0px 1px #fff;
  }

  .tre-price {
    background-position: left 5px top -30px, right -70px top -30px;
  }

  /* Juggling */
  .juggling-block {
    background-position: left 10px top 14px, right -30px top 700px;
  }

  /* Footer */
  .footer-inner {
    height: 220px;
  }

  .footer-title {
    font-size: 24px;
    width: 220px;
    text-align: center;
    margin-bottom: 5px;
    background-size: 22%;
    background-position: left -9px top -1px;
  }

  .contacts {
    width: 220px;
  }

  .contacts-icon {
    width: 50px;
    height: 50px;
  }

  span {
    font-size: 15px;
  }

  .footer-calender-text {
    width: 215px;
    font-size: 20px;
    background-position: right -7px top 22px;
    background-size: 22%;
    margin-bottom: 15px;
  }

  .btn-footer {
    width: 200px;
  }
}

@media (max-width: 561px) {
  /* Container */
  .container {
    width: 415px;
  }

  /* Intro */
  .intro {
    height: 480px;
  }

  .intro-logo {
    width: 100px;
  }

  .intro-title {
    background-position: right 47px top -11px;
    font-size: 25px;
  }

  /* Block */
  .messenger-block {
    background-position: left 114px top 23px, right 8px top 515px;
  }

  .dance-block {
    background-position: left 10px top 17px, right 0px top 368px;
  }

  /* Title */
  .title {
    width: 405px;
    font-size: 19px;
  }

  .belle-show-title {
    background-position: right 96px top 20px;
  }

  .mess-show-title {
    background-position: right -8px top 22px;
  }

  .dance-show-title {
    background-position: right 132px top 21px;
  }

  .juggling-show-title {
    background-position: right 197px top 16px;
  }

  .silver-show-title {
    background-position: left 148px top -9px;
  }

  .trelawney-show-title {
    background-position: left 161px top -9px;
  }

  .memes-show-title {
    background-position: left 73px top -9px;
  }

  .dwarf-show-title {
    background-position: left 191px top 22px;
  }

  /* BTN */
  .btns {
    margin-top: 5px;
    padding-top: 10px;
  }

  .btn {
    font-size: 8px;
  }

  .btns-memes .btn:last-child {
    margin-left: 12px;
  }

  /* Gallery */
  .gallery {
    padding-top: 10px;
  }

  .gallery-img {
    height: 135px;
  }

  /* Text */
  .text {
    padding-top: 20px;
  }

  textarea {
    font-size: 9px;
  }

  .copy {
    width: 135px;
    margin-top: 10px;
  }

  .silver-text-more {
    font-size: 13px;
  }

  /* Video */
  .show-video {
    height: 221px;
  }

  /* Price */
  .price {
    padding: 15px 0;
    background-position: left 0px top 31px;
  }

  .price-item {
    padding: 7px 0;
    font-size: 12px;
  }

  ul {
    margin-bottom: 20px;
    background-position: right 193px top 9px;
  }

  .extra-info {
    background-position: left 150px top 8px;
  }

  /* Footer */
  .footer-inner {
    height: 170px;
  }

  .footer-title {
    width: 211px;
    background-size: 22%;
    background-position: left 8px top -11px;
    padding: 5px;
  }

  .contacts {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts-icon {
    width: 45px;
    height: 45px;
    margin: 5px;
  }

  span {
    font-size: 12px;
    margin: 5px auto;
  }

  .footer-calender-text {
    font-size: 16px;
    width: 168px;
    background-position: right -7px top 14px;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .btn-footer {
    width: 150px;
  }
}

@media (max-width: 430px) {
  /* Container */
  .container {
    max-width: 370px;
  }

  /* Intro */
  .intro {
    height: 100vh;
    background-size: 66%;
  }

  .intro-info {
    height: 320px;
    left: calc((100vw - 380px)/2);
  }

  .intro-title {
    background-position: right 52px top -12px;
    font-size: 28px;
  }

  /* Title */
  .title {
    width: 331px;
    font-size: 20px;
  }

  .belle-show-title {
    background-position: right 13px top 28px;
  }

  .mess-show-title {
    background-position: right 67px top 29px;
  }

  .dance-show-title {
    background-position: right 52px top 28px;
  }

  .juggling-show-title {
    background-position: right 118px top 25px;
  }

  .silver-show-title {
    background-position: left 118px top 57px;
  }

  .trelawney-show-title {
    background-position: left 176px top -4px;
  }

  .memes-show-title {
    background-position: left 83px top -3px;
  }

  .dwarf-show-title {
    background-position: left 208px top 28px;
  }

  /* Blocks */
  .belle-block {
    background-position: left 10px top 19px, right 9px top 317px;
  }

  /* Video */
  .show-video {
    height: 197px;
  }

  /* Btns */
  .btns {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 100%;
    font-size: 14px;
    padding: 14px 5px;
    margin: 5px auto;
  }

  .btns-memes .btn:last-child {
    margin-left: 0;
  }

  /* Gallery */
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery-img {
    max-width: 370px;
    height: 393px;
  }

  /* Text */
  textarea {
    font-size: 8px;
    margin: 14px auto;
  }

  /* Price */
  .price-item {
    padding: 7px 0;
    font-size: 11px;
  }

  /* Footer */
  .footer-inner {
    height: 280px;
    flex-direction: column-reverse;
  }

  span {
    font-size: 10px;
  }

  .footer-calender-text {
    font-size: 16px;
    width: 220px;
    background-position: right 13px top 8px;
  }

  .footer-title {
    background-size: 19%;
    background-position: left 55px top -19px;
  }


}





         


