html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: VelaSans; 
    src: url(../fonts/VelaSans/Static/TTF/VelaSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #010002;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; 
  font-family: VelaSans; 
  color: #fff;
}

a {
  text-decoration: none;
  font-family: VelaSans;
  color: #fff;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #0100025a;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link:first-child {
  margin-left: 0;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:after,
.nav-link:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

.nav-link:after {
  right: 0;
  width: 0;
  height: 2px; 
  background-color: #ffe3ff;
  transition: width 0.3s; 
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
  height: 2px; 
  background-color: #d0ffff; 
  transition: width 0.5s; 
  box-shadow: 0px 0px 3px 3px #d0ffff37;
}

/* Main */
.main {
  position: relative;
  top: 10px;
}

/* Intro */
.intro {
  display: block;
  position: relative;
  width: 100%;
  height: 710px;
  background-image: url(../img/light.png), url(../img/intro.png);
  background-position: left 0px top 90px, right 0px top 0px;
  background-repeat: no-repeat;
}

.intro-inner {
  display: flex;
  justify-content: start;
}

.intro-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/circle-min.png);
  background-position: left 0px top 100px;
  background-size: 100%;
  width: 100%;
  max-width: 800px;
  height: 800px;
  z-index: 999;
  background-color: transparent;
}

.intro-logo {
  width: 180px;
}

.intro-title {
  font-size: 58px;
  text-align: center;
  font-weight: 700;
  margin: 10px auto;
  padding: 35px;
  background-image: url(../img/star.png);
  background-position: right 102px top -34px;
  background-repeat: no-repeat;
  background-size: 25%;
}

/* Section */
.section {
  padding: 25px 0;
}

/* Title */
.title {
  font-size: 48px;
  font-weight: 700;
  padding: 35px 10px 20px;
  margin-bottom: 20px;
  z-index: 1000;
  position: relative;
  background-color: transparent;
}

/* Belle-show */
.belle-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 0px top -20px, right -40px top 670px;
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
}

.belle-show-title {
  background-image: url(../img/star.png);
  background-position: right 508px top 76px;
  background-repeat: no-repeat;
  background-size: 8%;
}

.show-video {
  width: 100%;
  height: 683px;
  padding: 0 10px;
}

/* Btns */
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.btn {
  position: relative;
  font-size: 19px;
  font-weight: 600;
  padding: 20px 60px;
  text-align: center;
  display: block;
  transition: 0.3s;
  background-size: 100% auto;
  background-image: linear-gradient(to right, #356FF3  30%, #8D389B  100%);
}

.btn:hover {
  box-shadow: 0px 0px 5px 5px #d0ffff37;
}

/* Gallery */
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 40px 10px 5px;
  background-image: url(../img/circle-min.png);
  background-position: left 0px top -40px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.gallery-img {
  width: 100%;
  max-width: 380px;
  height: 400px;
  object-fit: cover;
  padding: 10px 0px;
}

/* Text */
.text {
  width: 100%;
  max-width: 1280px;
  margin-top: -20px;
  padding: 60px 10px 5px;
  background-image: url(../img/circle-min.png), url(../img/circle-min.png), url(../img/circle-min.png) ;
  background-position: left -35px top -55px, right 0px bottom 55px, left 219px bottom -23px;
  background-size: 30%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea {
  width: 100%;
  margin: 20px auto;
  font-family: VelaSans;
  font-weight: 400;
  color: #fff;
  font-size: 26px;
  text-align: left;
  background-color: transparent;
  border: none;
  background-image: url(../img/back-text.png);
  background-repeat: no-repeat;
  background-size: 100%;
  resize: none;
}

.mess-text {
  background-image: url(../img/back-text-mess.png);
}

.copy {
  width: 350px;
  margin-top: 20px;
}

/* Price */
.price {
  background-image: url(../img/circle-min.png);
  background-position: left 0px top -50px;
  background-size: 30%;
  background-repeat: no-repeat;
  padding: 20px 0 15px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 10px;
  background-image: url(../img/circle-min.png);
  background-position: right 300px top -28px;
  background-size: 20%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-color: transparent;
}

.price-item {
  font-family: VelaSans;
  font-weight: 200;
  font-size: 32px;
  text-shadow:  1px 0 1px #fff, 
  0 1px 1px #fff, 
  -1px 0 1px #fff, 
  0 -1px 1px #fff;;
  color: #fff;
  padding: 10px 0;
}

/* Messenger */
.messenger-block {
  background-image: url(../img/circle-min.png), url(../img/circle-min.png);
  background-position: left 114px top -75px, right -60px top 670px;
  background-size: 45%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
}

.mess-show-title {
  background-image: url(../img/star.png);
  background-position: right 245px top 76px;
  background-repeat: no-repeat;
  background-size: 8%;
}









         


